table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: calc(50% - 8px);
  margin-top: 8px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 32%;
}
body{
  background-color: #c7e2ff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#Open{
 float: left;
}
#High{
  float: left;
  margin-left: 8px;
}
#Low{
  float: left;
}
#Close{
  float: left;
  margin-left: 8px;
}
@media only screen and (max-width: 750px) {
  #Open{
    float: unset;
    width: calc(100% - 8px);
  }
  #High{
    float: unset;
    margin-left: 0px;
    width: calc(100% - 8px);
  }
  #Low{
    float: unset;
    width: calc(100% - 8px);
  }
  #Close{
    float: unset;
    margin-left: 0px;
    width: calc(100% - 8px);
  }
}